{% assign set = section.settings %}

{{ 'component-custom-banner.css' | asset_url | stylesheet_tag }}

{% if set.image != blank %}

  <div class="section_container">

    <div class="main_wrapper">

      <div class="hero-banner-wrapper">
        
        <div class="image_wrapper small-hide">
          {% render 'igor-responsive-image', image: set.image %}
        </div>
        <div class="image_wrapper medium-hide large-up-hide">
          {% assign mob_image = set.image_mob | default: set.image %}
          {% render 'igor-responsive-image', image: mob_image %}
        </div>

        <div class="content_wrapper center">
          {% if set.title != blank %}
            <h2 class="title t-large t-bold">{{ set.title }}</h2>
          {% endif %}

          {% if set.btn_link != blank and set.btn_label != blank %}
            <div class="btn_wrapper">
              <a class="button button--secondary" href="{{ set.btn_link }}">{{ set.btn_label }}</a>
            </div>
          {% endif %}
        </div>

      </div>

    </div>

  </div>

{% endif %}


{% schema %}
{
  "name": "hero-section",
  "class": "hero-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Hero-Section"
    }
  ]
}
{% endschema %}