#mixedSlider {
    position: relative;
  }

  #mixedSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
  }

  #mixedSlider .MS-content .item {
    display: inline-block;
    width: 33.3333%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 0 30px;
  }

  @media (max-width: 991px) {
    #mixedSlider .MS-content .item {
      width: 50%;
    }
  }

  @media (max-width: 767px) {
    #mixedSlider .MS-content .item {
      width: 100%;
    }
  }

  #mixedSlider .MS-content .item .imgTitle {
    position: relative;
  }


  #mixedSlider .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
  }


  #mixedSlider .MS-content .item .col-link {
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%,50%);
      border: 1px solid #fff;
      box-shadow: none;
      color: #fff;
  }

  
  #mixedSlider .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 30px;
    top: 50%;
    color: white;
    transition: 0.15s linear;
  }


  @media (max-width: 992px) {
    #mixedSlider .MS-controls button {
      font-size: 30px;
    }
  }

  @media (max-width: 767px) {
    #mixedSlider .MS-controls button {
      font-size: 20px;
    }
  }

  #mixedSlider .MS-controls .MS-left {
    left: 20px;
  }

  @media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-left {
      left: -10px;
    }
  }

  #mixedSlider .MS-controls .MS-right {
    right: 20px;
  }

  @media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-right {
      right: -10px;
    }
  }

  #basicSlider {
    position: relative;
  }

  #basicSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 2%;
    height: 50px;
  }

  #basicSlider .MS-content .item {
    display: inline-block;
    width: 20%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    line-height: 50px;
    vertical-align: middle;
  }

  @media (max-width: 991px) {

    #basicSlider .MS-content .item {
      width: 25%;
    }
  }

  @media (max-width: 767px) {

    #basicSlider .MS-content .item {
      width: 35%;
    }
  }

  @media (max-width: 500px) {

    #basicSlider .MS-content .item {
      width: 50%;
    }
  }

  #basicSlider .MS-content .item a {
    line-height: 50px;
    vertical-align: middle;
  }

  #basicSlider .MS-controls button {
    position: absolute;
  }

  #basicSlider .MS-controls .MS-left {
    top: 35px;
    left: 10px;
  }

  #basicSlider .MS-controls .MS-right {
    top: 35px;
    right: 10px;
  }